<h1>TO DO</h1>
<form name="addGameForm"  novalidate>
		<div class="container well" id="addGame">
			<div class="container" for="formGroup">
				<h2><strong>Add Game</strong></h2>
				<div for="formGroup">Name:
					<input type="text" class="form-control" placeholder="Escape Room" required/>
				</div>
				<br/>
				<div for="formGroup">Description:
					<textarea class="form-control" placeholder="Write here the description of the game." ></textarea>
				</div>
				<br/>
				<button class="btn btn-success">Add</button>
				<input class="btn btn-default btn-primary pull-right" type="button" value="Back">
			</div>
		</div>
</form>
