<form name="gameReviewsForm"  novalidate>
		<div class="container well" id="reviews">
			<div class="container" for="formGroup">
				<h2><strong>Your review</strong></h2>
				<div for="formGroup">Rate:
					<select class="form-control" >
							<option value="">Rate the film</option>
					</select>
				</div>
				<br/>
				<div for="formGroup">Opinion:
					<textarea class="form-control" placeholder="Write here your review." ></textarea>
				</div>
				<br/>
				<div for="formGroup">Mark(1/5):
					<br/>
				  <label class="radio-inline">
				    <input type="radio" name="mark" value="1" /> 1
				  </label>
				  <label class="radio-inline">
				    <input type="radio" name="mark" value="2" /> 2
				  </label>
				  <label class="radio-inline">
				    <input type="radio" name="mark" value="3" /> 3
				  </label>
				  <label class="radio-inline">
				    <input type="radio" name="mark" value="4" /> 4
				  </label>
				  <label class="radio-inline">
				    <input type="radio" name="mark" value="5" /> 5
				  </label>
				</div>
				<br/>
				<div for="formGroup">Email:
					<input type="email" class="form-control"  placeholder="example@email.com"/>
				</div>
				<br/>
				<button class="btn btn-success">Submit your review</button>
				<input class="btn btn-default btn-primary" type="button" value="Back">
			</div>
		</div>
</form>
