<form class="form-signin" name="signInForm"  novalidate ng-controller="signInController as signInCtrl" ng-submit="signInForm.$valid && signInCtrl.submit()">
		<div class="container well" id="signIn">
			<div class="container" for="formGroup">
				<h2 class="form-signin-heading"><strong>Sign In</strong></h2>
				<div for="formGroup">Username:
					<input type="text" class="form-control" placeholder="ExamPle123eXamPle" ng-model="signIn.username"  required/> <!-- ng-pattern="/[A-Za-z0-9]*$/" -->
				</div>
        <br/>
				<div for="formGroup">Name:
					<input type="text" class="form-control" placeholder="Example Name: 'Aleix'" ng-model="signIn.name"  required/><!-- ng-pattern="/^[A-Z][A-Za-z]*$/" -->
				</div>
        <br/>
				<div for="formGroup">Surname:
					<input type="text" class="form-control" placeholder="Example Surname: 'Velasco Calvo'" ng-model="signIn.surname" required/>
				</div>
        <br/>
				<div for="formGroup">Email:
					<input type="email" class="form-control" placeholder="example@email.com" ng-model="signIn.email" required/>
				</div>
        <br/>
				<div for="formGroup">Birthday:
					<input type="text" class="form-control" placeholder="24-34-3224" ng-model="signIn.birthday" required/>
				</div>
				<br/>
				<div for="formGroup">Gender:
					<select class="form-control" ng-model="signIn.gender"><!-- ng-repeat="gender in genders" -->
							<option value="man">Man</option>
							<option value="woman">Woman</option>
					</select>
				</div>
				<br/>
				<div for="formGroup">Phone:
					<input type="text" class="form-control" placeholder="666111222" ng-model="signIn.phone" required/>
				</div>
				<br/>
				<div for="formGroup">State:
					<input type="text" class="form-control" placeholder="Spain" ng-model="signIn.state" required/>
				</div>
        <br/>
				<div for="formGroup">City:
					<input type="text" class="form-control" placeholder="Barcelona" ng-model="signIn.city" required/>
				</div>
        <br/>
				<div for="formGroup">
					<input type="checkbox" ng-model="signIn.privacyPolicy"/>
					<label for="formGroup">I have read and agree to the Privacy Policy</label>
				</div>
        <br/>
				<button class="btn btn-success" ng-disabled="signInForm.$invalid">Sign In</button>
				<button class="btn btn-default btn-primary pull-right" ng-click="$parent.showAction=0">Back</button>
			</div>
		</div>
</form>
