<form class="form-signin" name="signInForm"  novalidate>
		<div class="container well" id="signIn">
			<div class="container" for="formGroup">
				<h2 class="form-signin-heading"><strong>Sign In</strong></h2>
				<div for="formGroup">User Name(Your Email):
					<input type="email" class="form-control" placeholder="example@email.com" required/>
				</div>
        <br/>
				<div for="formGroup">Name:
					<input type="text" class="form-control" placeholder="Jean" required/>
				</div>
        <br/>
				<div for="formGroup">Gender:
					<select class="form-control" >
							<option value="man">Man</option>
							<option value="woman">Woman</option>
					</select>
				</div>
				<br/>
				<div for="formGroup">State:
					<input type="text" class="form-control" placeholder="Spain" required/>
				</div>
        <br/>
				<div for="formGroup">Phone:
					<input class="form-control" type="text"  placeholder="666111222" required/>
				</div>
				<br/>
				<button class="btn btn-default">Sign In</button>
				<input class="btn btn-default btn-primary" type="button" value="Back">
			</div>
		</div>
</form>
