<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html ng-app="escapeRoomApp" xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta author1="Jean Andrade Pazmiño">
  <meta author2="Aleix Velasco Calvo">
  <title>Escape Room</title>
  <!-- css-->
  <link rel="shortcut icon" href="images/key.png"/>
  <link rel="stylesheet" type="text/css" href="vendors/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/index.css" />

  <!-- jQuery-->
  <script src="vendors/jquery/js/jQuery.js" type="text/javascript" xml:space="preserve"></script>


  <!-- Angular-->
  <script src="vendors/angular/js/angular.min.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-file-upload.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/angular-i18n/angular-locale_es-es.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/angular/js/ng-currency.js" type="text/javascript" xml:space="preserve"></script>
  <script src="vendors/bootstrap/js/ui-bootstrap-tpls-2.3.1.min.js" type="text/javascript" xml:space="preserve"></script>

  <!-- Own code-->
  <!-- Model-->
  <script src="js/model/reservationObj.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/model/reviewObj.js" type="text/javascript" xml:space="preserve"></script>
   <script src="js/model/signInObj.js" type="text/javascript" xml:space="preserve"></script> 

  <!-- Controllers-->
  <script src="js/app.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/generalFunctions.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/mainController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/signInController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/addGameController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/gameReservationController.js" type="text/javascript" xml:space="preserve"></script>
  <script src="js/controller/gameReviewController.js" type="text/javascript" xml:space="preserve"></script>

</head>
<body class="container">
  <!--div class="container">
    <img src="images/escape_room.jpg" id='logo' width="300" height="240" /></br>
  </div-->
  <br/>
  <br/>
  <div id="mainMenu" class="container jumbotron" ng-controller="mainController as mainRoomCtrl">
    <h1>Welcome to the best Escape Room!!</h1>
    <div class="collapse navbar-collapse" id="mainOptions">
     <ul class="nav navbar-nav">
       <li><a onclick="location.reload()"><span class="glyphicon glyphicon-home" aria-hidden="true"></span></a></li>
       <li><a href="#" ng-click="showAction=1">Sign in</a></li>
       <li><a href="#" ng-click="showAction=2">Add games</a></li>
       <li><a href="#" ng-click="showAction=3">Game reservation</a></li>
       <li><a href="#" ng-click="showAction=4">Game reviews</a></li>
     </ul>
    </div>
    <div id="signIn" class="form-horizontal" ng-show="$parent.showAction==1"
       ng-controller="signInController as signInCtrl">
      <br/>
      <sign-in-form></sign-in-form>
    </div>

    <div id="add" class="form-horizontal" ng-show="$parent.showAction==2"
      ng-controller="addGameController as addGameCtrl">
      <br/>
      <add-game-form></add-game-form>
    </div>

    <div id="reservation" class="form-horizontal" ng-show="$parent.showAction==3"
     ng-controller="gameReservationController as gameReservationCtrl">
      <br/>
      <game-reservation-form></game-reservation-form>
    </div>

    <div id="reviews" class="form-horizontal" ng-show="$parent.showAction==4"
     ng-controller="gameReviewController as gameReviewCtrl"/>
      <br/>
      <game-reviews-form></game-reviews-form>
    </div>
  </div>
  <div id="foot" class="container jumbotron">
	  <p class="nav-text">DAW2 M06 Desenvolupament Web en entorn client - Jean Andrade Pazmiño y Aleix Velasco Calvo</p>
  </div>
</body>
</html>
